* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {

    height: 40vh;
    text-shadow: 2px 2px 0px black;
    font-size: 4vh;
    background-color: rgb(119, 221, 119);
}

h1 {
    color: rgb(255, 182, 193);
}

.htext {
    padding-top: 6=4vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-shadow: 2px 2px 0px black;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    
    
}

button {
    background-color:rgb(255, 182, 193);  
    border: 2vh solid black ;
    color: azure;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    
    font-size: 5vh;
    transition: background-color 0.3s, transform 0.2s;  /* Added transition for smooth effects */
}




#yes:hover {
    background-color: #00ff00; 
    transform: scale(1.05);  
}

#yes:active {
    background-color: #ff7e7e;
    transform: scale(0.95);
}




#no:hover {
    background-color: #660000;  
    transform: scale(1.05);  }

#no:active {
    background-color: #7f0000;  
    transform: scale(0.95); 
}


#img {
    width: 50%;  
    height: auto;
    display: block;
    margin: 0 auto;
}


.navbar{
    background-color:rgb(255, 182, 193);
    padding-bottom: 5vh;

}